[submodule "ghq"]
	path = ghq
	url = aur@aur.archlinux.org:ghq
[submodule "yaskkserv"]
	path = yaskkserv
	url = aur@aur.archlinux.org:yaskkserv
[submodule "pt3_drv-dkms-git"]
	path = pt3_drv-dkms-git
	url = aur@aur.archlinux.org:pt3_drv-dkms-git
[submodule "pt1_drv-dkms-hg"]
	path = pt1_drv-dkms-hg
	url = aur@aur.archlinux.org:pt1_drv-dkms-hg
