[Unit]
Description=A revolutionary new kind of application performance management

[Service]
ExecStart=/usr/bin/mackerel-agent
ExecStop=/usr/bin/kill -s QUIT $MAINPID
PIDFile=/run/mackerel-agent.pid

[Install]
WantedBy=multi-user.target
